.div {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title {
    margin-bottom: -20px;
}

.list {
    display: flex;
    list-style: none;
    gap: 30px;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    gap: 10px;
    width: 200px;
    padding: 15px;
}

